/* div{
    color:blueviolet;
    background-color: aquamarine;
    width:20%;
    height:300px;
} */

#greybox {
    width:500px;
    height:200px;
    background-color:#333;
    border-style:solid;
}

.purplebox {  
        position:relative;
        top: -100px;  
        right:-20px;
        width:100px;
        height:80px;
        background-color:#8800FF;
}

#frame {
    width: 600px;
    position:absolute;
    z-index: 2;
}
#stones {
    top:100px;
    left:20px;
    width: 540px;
    position:absolute;
    z-index:1;
}

#sword{
    position:absolute;
    left:260px;
    top:170px;
    z-index:99;
    width:50px;
}
#crow{
    position:absolute;
    left:420px;
    top:235px;
    z-index:99;
    width:25px;
}

p{
   position:absolute;
   bottom:20px; 
}

a.internal:link{
    text-decoration: none;
    color:brown; 
}

a.internal:hover{
    text-decoration: none;
    cursor: crosshair;
}

a.external:link{
    text-decoration: none;
}

a.external:link{
    text-decoration: none;
    color: black;
    
}

@keyframes example {
    from {background-color: darkgreen;}
    to {background-color: yellow;}
  }

  div.animate{
      width:200px;
      height:200px;
      background-color: darkgreen;
      animation-name: example;
      animation-duration: 1s;
      animation-direction:alternate;
      animation-iteration-count: infinite;
  }
