body {padding:0; margin:0;}
#background {width:50%; position:absolute; top:0%; left:0%; z-index:0;}
.p1 {
    font-family: "Times New Roman", Times, serif;
  }
  .ufo{ position:absolute; z-index:99;}

  
#a{
    
    width:10%;top:-5%; left:10%;
}
#b{

    width:30%;top:-5%; left:25%;
}

#slogan{position:absolute; bottom: 5%; left: 5%}

#image1{
    position:absolute; bottom: 5%; left: 5%
}
#image2{
    position:absolute; bottom: 10%; left: 5%
}

a:link{color:aquamarine}
a:visited{color:brown}
a:hover{font-size: 1.2em;}