body{padding: 5em;}

h1,h2{text-align: center;}

p{width:750px;}
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: rgb(200,200,200);}
#panel1{
    width: 100px;
    height: 100px;
    position:relative;
    left:-300px;
}
#panel2{
    position:relative;
    left:200px;
    width: 100px;
    height: 100px;
}